
.modalCloseButton{
    float: right;
}

.addOperation{
    float: right;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    cursor: pointer;
    background: #76c47a;
    color: #ffffff;
}


.enterNewNodeInput {
    height: 40px;
    width: calc(100% - 10px);
    border: 1px solid #e2dfdf;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 7px;
}


.modalForm {
    position: relative;
    margin-top: 45px;
    outline: none;
}

input:focus, input:active{
    outline: none;
}

.circle{
    fill: #FFF8E1;
}
